/*Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*/Reset*/

/*Common*/
body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

button {
    border: none;
    font-family: 'Lato', sans-serif;
    padding: 10px 15px;
    border-radius: 25px;
}

/*/Common*/

/*Header*/
header {
    width: 100%;
    height: 100px;
    background-color: #255EE9;
    position: relative;
}

.logo,
.navbar nav,
.login,
.navbar li {
    display: inline-block;
}

.logo {
    vertical-align: middle;
    float: left;
}

.login {
    float: right;
}

.navbar {
    position: relative;
    text-align: center;
}

.navbar nav {
    float: none;
}
.navbar li {
    padding: 0 20px;
}
.navbar a {
    text-decoration: none;
    color: #FFF;

}

/*/Header*/

/*Main*/

.hero {
    width: 100%;
    height: 70vh;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}



/*/Main*/