/*Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*/Reset*/

/*Common*/
body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

button {
    border: none;
    font-family: 'Lato', sans-serif;
    padding: 15px 25px;
    border-radius: 25px;
    background-color: white;
}

h1 {
    font-size: 3.5em;
}

p {
    font-size: 1.2em;
}

/*/Common*/

/*Header*/
header {
    width: 100%;
    height: 100px;
    background-color: #255EE9;
    position: relative;
}

.logo,
.navbar nav,
.login,
.navbar li {
    display: inline-block;
}

.logo {
    vertical-align: middle;
    float: left;
}

.login {
    float: right;
}
.navbar {
    position: relative;
    text-align: center;
}

.navbar nav {
    float: none;
}
.navbar li {
    padding: 0 20px;
}
.navbar a {
    text-decoration: none;
    color: #FFF;

}

/*/Header*/

/*Main*/

/*Hero*/

.hero {
    width: 100%;
    height: 70vh;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.hero-text {
    color:white;
}

.hero-text h1{
    margin-bottom: 50px;
}

.hero-text p {
    line-height: 2;
    padding: 0 316px;
}

.hero-buttons button{
    margin: 20px 15px;
    font-size: 1.2em;
}

.hero-buttons i {
    padding: 0 5px;
}

#open {
    color: #FFF;
    background-color: #000;
}

.hero > .container {
    transform: translate(-50%, -80%);
}

/*/Hero*/

/*/Main*/